<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>$watch</title>
<script type="text/javascript" src="../js/jquery1.10.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/watch.js"></script>

<link href="../css/bootstrap.css" rel="stylesheet">
</head>
<body>
	<div ng-app="myApp" >
		<div ng-controller="myController">
			Day: <input type="text" ng-model="weekDay" />
			Location: <input type="text" ng-model="location.city" />
			Weather: <input type="text" ng-model="weather" />
		</div>
		
		
		
		
	</div>

</body>
</html>